# Built objects
bin/
gen/
obj/
/build/

# Gradle
.gradle/
build/
*.hprof

# Android Studio / IntelliJ
.idea/
*.iml
*.iws
*.ipr
/captures/
.externalNativeBuild
.cxx
local.properties

# Firebase
# google-services.json contains project keys and should be ignored for public repos
google-services.json

# Device specific / OS
.DS_Store
Thumbs.db

# Logs
*.log

# Sensitive Info
secrets.xml
